	.widhead308{
		width: 308rpx;
		height: 62rpx;
		
background: rgba(0, 0, 0, 0.5);
		border-bottom-left-radius: 14rpx;
		border-bottom-right-radius: 14rpx;
	}.c484{
		color: #48410D;
	}
	.flex1{
		flex: 1;
	}
	.cd93{
			
	color: #D93038;
		}
	page{
		
font-family: PingFangSC-Regular, PingFang SC;
	}
	.paddall40{
		padding: 40rpx;
	}
	.cd93{
		
color: #D93038;
	}
	.m-b-400{
		margin-bottom: 400rpx;
	}
	.cd72{
		
color: #D72F37;
	}
	.c8e{
		
color: #8E8F8E;
	}
	.cfe{
		
color: #FEFFFE;
	}
	.c25560{
		color: rgba(255,255,255,0.60);
	}
	.m-b-8{
		margin-bottom: 8rpx;
	}
	.m-b-76{
		margin-bottom: 76rpx;
	}
	.wid76{
		width: 76rpx;
		height: 76rpx;
	}
	.bg208{
		background: #2081ff;
	}
	.pofixconfig{
		position: fixed;
		left: 30rpx;
		bottom: 0;
		// bottom: calc(100rpx + var(--safe-area-inset-bottom)) !important;
		padding-bottom: calc(100rpx + var(--safe-area-inset-bottom)) !important;
	}
	.c2080{
		color: #2080ff;
	}
	.m-b-50{
		margin-bottom: 50rpx;
	}
	.wid34{
		width: 34rpx;
		height: 34rpx;
	}
	.popbtn{
		width: 540rpx;
		height: 80rpx;
		background: #2081ff;
		border-radius: 100rpx;
	}
	.c2081{
		color: #2081ff;
	}	
	.m-b-100{
		margin-bottom: 150rpx;
	}
	.wid82{
		width: 82rpx;
		height: 48rpx;
	}
	.wid26{
		width: 26rpx;
		height: 26rpx;
	}
	.padd44{
		padding: 44rpx;
	}
	.c88{
		color: #888888;
	}
	.br-16{
		border-radius: 16rpx;
	}
	.br-30{
		border-radius: 30rpx;
	}
	.bg0e4{
		background: #0E47B4;
	}
	.f-psc{
		
font-family: PingFang SC-Medium, PingFang SC;
	}
	.m-t-3{
		margin-top: 2rpx;
	}
	.ce33{
		
color: #E3393F;
	}
	.wid96{
		width: 96rpx;
		height: 96rpx;
	}
	
	.c2d69{
		color: #2081FF;
	}
	.wid196{
		width: 128rpx;
		height: 128rpx;
		border-radius: 16rpx;
	}
	.pix{
		position: fixed;
		bottom: 0;
		left: 0;
	}
	.line50{
		    line-height: 50rpx;
	}
	.bff5{
		
background: #F5F7F8;
	}
	.border-t-f7{
		border-top: 1px solid #F7f7f7;
	}
	.c3e{
		color:#3E3E3E;
	}
	.personline{
		display: inline-block;
		width: 2rpx;
		height: 33rpx;
		background: #707070;
		
	}.orderline{
		display: inline-block;
		width: 2rpx;
		height: 26rpx;
		background: #E6E6E6;
		
	}
	.padd5030{
		padding: 50rpx 30rpx;
	}
	.m-r-25{
	margin-right: 25rpx;	
	}
	.padd1632{
		padding: 16rpx 32rpx;
	}
	.padd2030{
		padding: 20rpx 30rpx;
	}
	.bg98{
		
background: #98885E;
	}
	.wid23{
		width: 23rpx;
		height: 23rpx;
	}
	.newpionerbtn{
		padding: 15rpx 35rpx;
		background: #E7CB98;
		border-radius: 40rpx;
		
	}.line-price{
		text-decoration: line-through;
	}
	.bg2d69{
			
	background: #2D69DB !important;
		}
	.m-t-10{
		margin-top: 10rpx;
	}
	.m-t-15{
		margin-top: 15rpx;
	}
	.c3c2d{
		
color: #3C2DAA;
	}
	.cdd29{
		
color: #DD2912;
	}
	.c0077{
		
color: #007770;
	}
	.cfef{
		
color: #FEF0B3;
	}
	.m-lr-10{
		margin: 0 10rpx;
	}
	.cef5{
		
color: #EF5F40;
	}
	.poab00{
		position: absolute;
		left: 0;
		bottom: 0;
	}
	.paddall25{
		padding: 25rpx;
	}
	.newboderline{
		height: 1rpx;
		width: 640rpx;
border-bottom: 1px dashed #F4F4F4;
position: absolute;
left: 3.5%;
bottom: 35%;
	}
	
	.newboderlinetext{
			
	position: absolute;
	left:12%;
	bottom: 15%;
		}
		.m-t-100{
			margin-bottom: 100rpx;
		}
		.padd40{
			padding: 40rpx;
		}
		.m-t-60{
			margin-top: 60rpx;
		}
	.newtrainbtnall{
		
		    
		    
		    width: 100%;
		    
		    padding: 16rpx 20rpx 36rpx 20rpx;
		    box-sizing: border-box;
		    
	}
	.boxtrain{
		background: #D30010;
		    border-radius: 38rpx;
		    width: 100%;
		    height: 76rpx;
		    line-height: 76rpx;
		    color: #FFFFFF;
		    font-size: 30rpx;
	}
	.h416{
		height: 416rpx;
	}
	.wid571{
		width: 574rpx;
		height: 431rpx;
	}
	.h324{
		height: 324rpx;
	}
	.w188{
		width: 188rpx;
		height: 44rpx;
	}
	.padd90{
		padding: 120rpx 90rpx;
	}
	.h60{
		height: 60rpx;
	}
	.paddnew30{
		padding: 30rpx 30rpx 70rpx 30rpx;
	}
	.paddnewcc30{
		padding: 30rpx 30rpx 90rpx 30rpx;
	}
	.c037{
		
color: #0676C4;
	}
	.c66{
		
color: #666666;
	}
	.newprobtn{
		background: #126DCA;
		margin: 0 auto;
		width: 500rpx;
		height: 75rpx;
	}
	.bindex{
		
border-bottom: 1rpx solid #f1f4f4;
	}
	.newProductDetails-btn {
		position: fixed;
		bottom:env(safe-area-inset-bottom);
		/* bottom:calc(10rpx+env(safe-area-inset-bottom)); */
		width: 750rpx;
		left: 0rpx;
		background-color: #FFFFFF;
		padding:  12rpx 125rpx;
		box-sizing: border-box;
		
	    z-index: 999;
		
	}
	.borderbone{
		border: none !important;
	}
	.wid256{
		width: 256rpx;
		height: 220rpx;
	}
	.paddlr30{
		padding: 0 30rpx;
	}
	.TechnologyProducts-list-tips1 {
			padding: 5rpx 15rpx ;
			    border: 1px solid #77b8f8;
			    color: #1d8bf8;
		}
	.m-t-22{
		margin-top: 22rpx;
	}
	.p-t-30{
		padding-top: 30rpx;
	}
	.paddt10030{
		padding: 70rpx 30rpx 30rpx 30rpx ;
	}
	.bgd7e6{
		
background: #D7E6FF;
	}
	.wid1821{
		width: 18rpx;
		height: 21rpx;
	}
	.peisebtn {
		line-height: 55rpx;
		width: 111rpx;
		height: 55rpx;
		
background: #126DCA;
		border-radius: 10rpx;
	}
	.wid22{
		width: 22rpx;
		height: 22rpx;
	}
	.cf9fb{
		background: #F9FBFF;
		
	}
	.padd25{
		padding: 25rpx;
	}
	.p-t-50{
		padding-top: 50rpx;
	}
	.f-dinpro{
		
font-family: DINPro;
	}
	.wid204{
		width: 204rpx;
		height: 204rpx;
	}
	.wid95{
		width: 95rpx;
		height: 95rpx;
	}
	.h87{
		height: 87rpx;
	}
	.m-b-145{
		margin-bottom: 145rpx;
	}
	.wid19{
		width: 19rpx;
		height: 12rpx;
	}
	.c0a53{
		
color: #0A569D;
	}
	.bgebf1f7{
		background-color: #EBF1F7;
	}
	.h327{
		height: 327rpx;
	}
	
	.wid334{
		width: 334rpx;
	}
	.h100{
		height: 100rpx !important;
	}
	.m-b-56{
		margin-bottom: 56rpx;
	}
	.padd30{
		padding: 20rpx;
	}
	
	.paddall30{
		padding: 30rpx;
	}
	.p-r-20{
		padding-right: 20rpx;
	}
	.w370{
		width: 405rpx;
	}
	.wid138{
		width: 200rpx;
		    height: 150rpx;
			border-radius: 4rpx;
	}
	.z1999{
		z-index: 1999;
	}
	.padd30t15{
		padding: 15rpx 30rpx 30rpx 30rpx;
	}
	.m-t-25{
		margin-top: 25rpx;
	}
	.wid450{
		width: 450rpx;
		height: 77rpx;
	}
	.bgf2f4{
		
background: #F2F4F7;
	}
	.line32{
		line-height: 32rpx;
	}
	.line28{
		line-height: 28rpx;
	}
	.wid94{
		width: 94rpx;
		height: 40rpx;
	}
	.wid3228{
		width: 32rpx;
		height: 28rpx;
	}
	.wid3040{
		width: 30rpx;
		height: 40rpx;
	}
	.bgffc{
		
background: #FFC0B1;
	}
	.m-b-12{
		margin-bottom: 12rpx;
	}
	.bottomshopcart{
		z-index: 0;overflow: hidden;
		position: relative;margin-bottom: 200rpx;
	}
	.busorder{
		width: 28rpx;
		height: 28rpx;
		background: linear-gradient(99deg, #FF8400 0%, #FF3000 100%);
		border-radius: 50%;
	}
	.wid33-new{
		width: 33rpx;
		height: 33rpx;
	}
	.wid205{
		width: 205rpx;
		height: 162rpx;
		border-radius: 10rpx;
	}
	.ptr30{
		padding: 0 30rpx;
	}
	.wid130{
		width: 130rpx;
		height: 130rpx;
		border-radius: 10rpx;
	}
	.colorfe{
		
color: #FFFEFE;
	}
	.wid66{
		width: 66rpx;
		height: 66rpx;
	}
	.colordo{
		
color: #D0D0D0;
	}
	.bgbc{background: #BCBCBC;}
	

	.color68{
		color: #6B6B6B;
	}
	.orderbuscartbtn{
		line-height: 55rpx;
		font-size: 28rpx;
		font-family: PingFang SC;
		font-weight: 400;
		
		width: 143rpx;
		height: 55rpx;
		
		border-radius: 27rpx;
	}
	.bg8400300{
		background: linear-gradient(96deg, #FF8400 0%, #FF3000 100%);
	}
	.ordertabbar{
		width: 692rpx;
		height: 120rpx;
		background: #181E13;
		border: 0px solid #C3C3C3;
		opacity: 0.65;
		border-radius: 20rpx 20px 0px 0px;
		position: fixed; bottom: 100rpx ;
		left: 30rpx;
	}
	.m-auto{
		margin: 0 auto;
	}
	.wid124{
		width: 118rpx;
		height: 93rpx;
	}
	.wid38{
		width: 38rpx;
		height: 38rpx;
	}
	.canjuborder{
		
border: 1rpx solid #6E6E6E;
	}
	.m-t-180{
		margin-top: 180rpx;
	}
	.m-l-7{
		margin-left: 7rpx;
	}
	.w300{
		width: 300rpx;
	}
	.changebtn{
		font-size: 24rpx;
		font-family: PingFang SC;
		font-weight: 400;
		color: #FFFFFF;
		width: 122rpx;
		height: 46rpx;
		line-height: 46rpx;
		background: linear-gradient(95deg, #FF8400 0%, #FF3000 100%);
		border-radius: 23rpx;
	}
	.m-b-27{
		margin-bottom: 27rpx;
	}
	.padd3630{
		padding: 0 30rpx 0 0;
	}
	.z-11{
		position: relative;
		z-index: 11;
	}
	// .coupon-item{
	// 	display: inline-block;
	// }
	.n-b-15{
		margin-bottom: 15rpx;
	}
	.padd3025{
		padding: 30rpx 25rpx;
	}
	.caoshud19{
		font-size: 19rpx;
		font-family: Source Han Sans CN;
		font-weight: 400;
		padding:7rpx 16rpx ;
border-radius: 19rpx;
background: #FFFFFF;
	}
	.color58{
		
color: #583E07;
	}
	.z-55{
		z-index: 55;
	}
	.wid195{
		width: 195rpx;
		height: 195rpx;
	}.newbasize{
		background-size:316rpx 140rpx;
		background-repeat:no-repeat;
	}
	.m-r-20{
		margin-right: 20rpx;
	}
	.color807{
		
color: #807050;
	}
	.bordright{
		border-right: 1rpx solid #7F7371;
	}
	.wid152{
		width: 152rpx;
		height: 79rpx;
	}
	.m-b-15{
		margin-bottom: 15rpx;
	}
	::v-deep .u-cell__body {
		padding: 18px 0 !important;
	}
	.pad4020{
		padding:20rpx 42rpx ;
	}
	.padd630 {
		padding: 6rpx 30rpx;
	}
	.color7f7{
		
color: #7F7371;
	}
	.color211{
		
color: #211818;
	}
	
	.m-tb50{
		margin:50rpx 0 ;
	}
	.p-b-50{
		padding-bottom: 50rpx;
	}
	.p-b-200{
		padding-bottom: 200rpx;
	}
	.p-b-150{
		padding-bottom: 150rpx;
	}
	.h42{
		height: 42rpx;
	}
	.z99{
		z-index: 99;
	}
	.color6e{
		
color: #6E6E6E;
	}
	.h84{
		height: 84rpx;
	}
	.wid4228{
		width: 42rpx;
		height: 29rpx;
	}
	.line42{
		line-height: 42rpx;
	}
	.baf4{
		padding: 43rpx 38rpx;
		width: 691rpx;
		
		background: #F4F4F4;
		border-radius: 20rpx;
	}
	.wid71{
		width: 71rpx;
		height: 37rpx;
	}
	.couponmoney{
		width: 151rpx;
		
		font-size: 76rpx;
		font-family: DIN 1451 Std;
		font-weight: normal;
		color: #FF3100;
		
		background: linear-gradient(125deg, #FF8400 0%, #FF3000 100%);
		
	}
	.fs36{
		
font-size: 36rpx;
	}
	.colorff31{
		color: #FF3100;
	}
	.w427{
		width: 427rpx;
		height: 64rpx;
	}
	.m-t-270{
		margin-top: 270rpx;
	}
	.m-r-28{
		margin-right: 28rpx;
	}
	.p-lr-30{
		padding:40rpx 30rpx ;
	}
	.br-10{
		border-radius: 10rpx;
	}
	.c51607D{
		
color: #51607D;
	}
	.linetext{
		width: 2rpx;
		height: 20rpx;
		background: #DDDDDD;
	}
	.wid84{
		width: 84rpx;
		height: 84rpx;
	}
	.c009{
		
color: #000009;
	}
	.frame {
		padding: 48rpx 60rpx 48rpx 60rpx;
	}
	.paddlr24{
		padding:0 24rpx ;
	}
	.doubles {
		width: 200rpx;
		height: 64rpx;
		border-radius: 33rpx;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.w-33{
		width: 33.3%;
	}
	.wid176{
		width: 176rpx;
		height: 176rpx;
	}
	.bg121-100{
		
background: linear-gradient(121deg, #414141 0%, #171717 100%);
	}
	.currency40-52{
		height: 52rpx;
		font-size: 40rpx;
		font-family: DINPro-Medium, DINPro;
		font-weight: 500;
		line-height: 52rpx;
	}
	.color3A3A3A{
		
color: #3A3A3A;
	}
	.text48{
		height: 62rpx;
		font-size: 48rpx;
		font-family: DINPro-Medium, DINPro;
		font-weight: 500;
		color: #202020;
		line-height: 62rpx;
	}
	.marauto{
		margin: 0 auto;
	}
	.waimaimoney{
		
		height: 48rpx;
		font-size: 48rpx;
		font-family: DINPro-Medium, DINPro;
		font-weight: 500;
		color: #FFFFFF;
		line-height: 48rpx;
	}
	.wiamaimoneynum{
		
		height: 72rpx;
		font-size: 80rpx;
		font-family: DINPro-Medium, DINPro;
		font-weight: 500;
		color: #FFFFFF;
		line-height: 72rpx;
	}
	.homeborderright{
		border-right:1rpx solid #FFFFFF;
	}
	.customerborderright{
		border-right:1rpx solid #DDDDDD;
	}
	.text32{
		
		height: 42rpx;
		font-size: 32rpx;
		font-family: DINPro-Medium, DINPro;
		font-weight: 500;
		line-height: 42rpx;
	}
	.text24{
		
		height: 34rpx;
		font-size: 24rpx;
		font-family: PingFangSC-Regular, PingFang SC;
		font-weight: 400;
		line-height: 34rpx;
	}
	.wid100 {
		
		width: 100rpx;
		height: 100rpx;
	}
	.boreder50{
		border-radius: 50rpx 50rpx 0px 0px;
	}
	.pofixedindex{
		position: fixed;
		z-index: 11;
		top: 0;
		left: 0;
	}
	.m-t-116{
		margin-top: 116rpx;
	}
	.border-yunyangbottom{
		border-bottom: 2rpx solid #202020;
	}
	.bordertr10{
		border-top-right-radius: 10rpx;
		border-top-left-radius: 10rpx;
		// border-radius: 10rpx;
	}
	.width48{
		width: 48rpx;
	}
	.wid33{
		width: 33.3%;
	}
	.padtb40lr20{
		padding:130rpx 20rpx 40rpx 20rpx;
	}
	.m-t-128{
		margin-top: 128rpx;
	}
	.m-t-12{
		margin-top: 12rpx;
	}
	.he20{
		height: 20rpx;
	}
	.he60{
		height: 60rpx;
	}
	.pofixcustomer{
		position: fixed;
		top:0rpx;
		left: 0;
	}
	.p-t-128{
		padding-top: 128rpx;
	}
	.pofixcustomertwo{
		position: fixed;
		top: 64px;
		left: 0;
	}
	.pofixoffer{
		position: fixed;
		top: 0rpx;
		left: 0;
	}
	.pofixshopdetail{
		position: fixed;
		top: 50rpx;
		z-index: 10;
		left: 0;
	}
	.shoppingCarttop {
		width: 100%;
		height: 32rpx;
		box-sizing: border-box;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.status-bar-height{
		padding-top: var(--status-bar-height) ;
	}
	.p-b-200{
		padding-bottom: 200rpx;
	}
	.m-t-5{
		margin-top: 5rpx;
	}
	.p-t-490{
		padding-top: 490rpx;
	}
	.p-b-40{
		padding-bottom: 40rpx;
	}
	.m-r-62{
		
		margin-right: 62rpx;
	}
	.p-b-220{
		padding-top: 220rpx;
	}
	.popositionfixed{
		position: fixed;
		z-index: 11;
		top: 0;
		left: 0;
	}
	.wid541{
		width: 54rpx;
		height: 32rpx;
		display: inline-block;
		position: relative;
		top: 8rpx;
	}
	.p-b-700{
		padding-bottom: 700rpx;
	}
	.img1 {
		width: 200rpx;
		height: 200rpx;
	}
	.pay-left {
		
	}
	.boreder-24{
		    border-radius: 24rpx;
	}
	.padd1020{
		padding: 10rpx 20rpx;
	}
	.bgFF6B00{
		background-color:#FF6B00 ;
	}
	.p-r-25{
		padding-right: 25rpx;
	}
	
	.widh20w11{
		width: 11rpx;
		height: 20rpx;
	}
	.p-t-108{
		padding-top: 108rpx;
	}
	.wid200he200{
		width: 200rpx;
		height: 200rpx;
	}
	.p-b-800{
		padding-top: 40rpx;
		padding-bottom: 800rpx;
	}
	.p-b-1080{
		padding-top: 40rpx;
		padding-bottom: 1080rpx;
	}
	.shopcartnotext{
		font-size: 24rpx;
		color: #8B8C8D;
	}
		
	.minus {
		width: 70rpx;
		height: 60rpx;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.paddt40lr22{
		padding:40rpx 22rpx 0 22rpx;
	}
	.w-384{
		width: 375rpx;
		// width: 384rpx;
	}
	.bgtwo{
		background-color: #19191C;
		
	}
	.m-t-400{
		margin-top: 400rpx;
	}
	.p-t-460{
		padding-top: 460rpx;
	}
	.wid200{
		width: 200rpx;
	}
	.he100{
		height: 100rpx;
	}
	.input {
		width: 64rpx;
		height: 60rpx;

	}
	.m-r-13{
		margin-right: 13rpx;
	}
	.c99{
		
color: #999999;
	}
	.c33{
		
color: #333333;
	}
	.br-14{
		border-radius: 14rpx;
	}
	.wid308{
		width: 308rpx;
		height: 204rpx;
		

	}
	.wid305{
		width: 308rpx;
		height: 431rpx;
	}
	.wid543{
		width: 100%;
		
height: 215rpx;
	}
	.wid405{
		width: 205rpx;
		height: 154rpx;
		border-radius: 14rpx;
	}
	.fsh{
		
font-family: SourceHanSansCN;
	}
	.twpplacebg{
		padding: 28rpx;
		background: #FFFFFF;
		border-radius: 14rpx;
		box-sizing: border-box;
	}
	.plus {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 70rpx;
		height: 60rpx;
	}
	.wid1019{
		width: 10rpx;
		height: 19rpx;
	}
	.wid32 {
		width: 32rpx;
		height: 32rpx;
	}

	.padd4022 {
		padding: 40rpx 22rpx;
	}

	.wid58 {
		width: 58rpx;
		height: 58rpx;
	}

	.shrink0 {
		flex-shrink: 0;
	}

	.xiaozhuzhutext {
		height: 40rpx;
		font-size: 28rpx;
		font-family: PingFangSC-Regular, PingFang SC;
		font-weight: 400;
		color: #FFFFFF;
		line-height: 40rpx;
	}
	.wid204{
		width: 204rpx;
	}
	.xiaozhuzhutexttwo {
		height: 40rpx;
		font-size: 24rpx;
		font-family: PingFangSC-Regular, PingFang SC;
		font-weight: 400;
		color: #FFFFFF;
		line-height: 40rpx;
	}
	.bgnew {

		background: #19191C;
	}
	.he20{
		height: 20rpx;
	}
	.bg19191c {

		background: #19191C;
	}

	.padt40lr20 {
		padding: 40rpx 20rpx 500rpx 20rpx;
	}

	.border-20 {
		border-radius: 20rpx;
	}

	.p-b-500 {
		padding-bottom: 550rpx;
	}
	.p-b-100lr20{
		padding:0 20rpx 0 20rpx ;
		
	}
	.m-l-34 {
		margin-left: 34rpx;
	}
	.p-b-150{
		padding-bottom: 150rpx;
	}
	.m-r-26 {
		margin-right: 26rpx;
	}

	.m-t-170 {
		margin-top: 170rpx;
	}

	.p-t-170 {
		padding-top: 170rpx;
	}

	.m-t-36 {
		margin-top: 36rpx;
	}

	.m-b-70 {
		margin-bottom: 70rpx;
	}

	.borderra16 {
		border-radius: 16rpx;
	}

	.poposition20 {
		position: absolute;
		bottom: 20rpx;
		left: 34rpx;
	}

	.poposition118-36 {
		position: absolute;
		bottom: 36rpx;
		left: 118rpx;
	}

	.poposition8-10 {
		position: absolute;

	}

	.paddat36b2824 {
		padding: 36rpx 24rpx 28rpx 24rpx;
	}

	.borderyunyang {
		// width: 668rpx;
		// height: 2rpx;
		border-bottom: 2rpx solid #202020;
	}
	.m-r-14{
		margin-right: 14rpx;
	}
	.wid506 {
		width: 506rpx;
		height: 64rpx;
	}

	.wid506120 {
		width: 506rpx;
		height: 120rpx;
	}

	.shopcartaddbtn {
		width: 710rpx;
		height: 92rpx;
		
background: linear-gradient(115deg, #666560 0%, #232321 100%);
		border-radius: 46rpx;
		line-height: 92rpx;
	}
	
	.bg665{
		
background: linear-gradient(115deg, #666560 0%, #232321 100%);
	}
	.p-t-300{
		padding-top: 300rpx;
	}
	.m-t-100 {
		margin-top: 100rpx;
	}
	.p-t-160{
		padding-top: 160rpx;
	}
	.p-t-200{
		padding-top: 200rpx;
	}
	.m-b-50 {
		margin-bottom: 50rpx;
	}

	.bg02 {

		background: #020202;
	}
	.poabb0 {
		position: absolute;
		bottom: 0;
	}
	.poab4644 {
		position: absolute;
		top: 20%;
		left: 5%;
	}
	.padd20b6{
		padding:6rpx  20rpx 6rpx 20rpx;
	}
	.poab46442 {
		position: absolute;
		top: 10%;
		left: 4%;
	}
	.popositionshopdetail {
		top: 0;
		left: 0;
		position: absolute;
		
	}
	.poposition40-36 {

		position: absolute;
		bottom: 36rpx;
		left: 40rpx;
	}

	.poposition72-00 {
		position: fixed;
		top: 72rpx;
		left: 20rpx;
		z-index: 4;
	}

	.wid44 {
		width: 44rpx;
		height: 44rpx;
	}

	.porelative {
		position: relative;
	}

	.padd40 {
		padding: 40rpx 22rpx 20rpx 20rpx;
	}

	.p-1624 {
		padding: 0 24rpx 0 16rpx;
	}

	.padd44 {
		padding: 44rpx 22rpx 34rpx 22rpx;
	}

	.m-l-28 {
		margin-left: 28rpx;
	}
	.wid316{
		width: 316rpx;
		height: 140rpx;
	}
	.poabt00{
		position: absolute;
		top: 0;
		left: 0;
	}
	.wid35{
		width: 35rpx;
		height: 29rpx;
	}
	.cf99{
		
color: #FFF9A1;
	}
	.padd5030{
		padding: 50rpx 30rpx 50rpx 50rpx;
	}
	.z0{
		z-index: 1;
	}
	.wid87{
		width: 87rpx;
		height: 87rpx;
	}
	.paddalr-24 {
		padding: 0 24rpx 20rpx 24rpx;
	}

	.padd42 {
		padding: 42rpx 26rpx 22rpx 22rpx;
	}

	.padd18 {
		padding: 18rpx 16rpx 24rpx 16rpx;
	}

	.padd50 {
		padding: 50rpx ;
	}

	.topbtn {
		/* width: 122rpx; */
		height: 58rpx;
		font-size: 28rpx;
		font-family: PingFangSC-Regular, PingFang SC;
		font-weight: 400;
		color: #FFFFFF;

		padding: 9rpx 25rpx;
		line-height: 58rpx;
		border-radius: 29rpx;
	}

	.p-t-40 {
		padding-top: 40rpx;
	}

	.padd201 {
		padding: 20rpx 10rpx 18rpx 12rpx;
	}

	.paddall20 {
		padding: 20rpx;
	}
	.color00c393{
		
color: #00C393;
	}
	.f-80{
		font-size: 80rpx;
	}
	.paddall5424 {
		padding: 54rpx 24rpx;
	}

	.paddall3624 {
		padding: 36rpx 24rpx;
	}

	.paddall24 {
		padding: 24rpx;
		box-sizing: border-box;
	}
	.m-b-34{
		margin-bottom: 34rpx;
	}
	.pad20 {
		padding: 0 20rpx;
	}
	.padlrt20 {
		padding:20rpx 20rpx 0 20rpx ;
	}
	.padall20 {
		padding:  20rpx;
	}
	.pad20b50{
		padding:0 20rpx 50rpx 20rpx ;
	}
	.wid92 {
		width: 92rpx;
		height: 92rpx;
	}
	.colorfbd{
		
color: #FBD08E;	
	}
	.p-b-20 {
		padding-bottom: 20rpx;
	}

	.box-border {
		box-sizing: border-box;
	}

	.m-b-22 {
		margin-bottom: 22rpx;
	}

	.m-b-60 {
		margin-bottom: 60rpx;
	}

	.m-b-30 {
		margin-bottom: 30rpx;
	}
	.m-b-5 {
		margin-bottom: 5rpx;
	}
	.m-b-58 {
		margin-bottom: 58rpx;
	}

	.m-r-60 {
		margin-right: 60rpx;
	}
	.cec1{
		color: #ec1d27;
	}
	.padd820{
		padding: 8rpx 20rpx;
	}
	.bg2080{
		background: #2080ff;
	}
	.br-4{
		border-radius: 4rpx;
	}
	.bgf6{
		background: #f6f6f6;
	}
	.m-r-5 {
		margin-right: 5rpx;
	}
	.c10{
		color: #101010;
	}
	.m-r-8{
		margin-right: 8rpx;
	}
	.m-r-46 {
		margin-right: 46rpx;
	}

	.m-r-44 {
		margin-right: 44rpx;
	}

	.wid28 {
		width: 28rpx;
		height: 28rpx;
	}
	.wid120h0{
		width: 120rpx;
	}
	.wid72 {
		width: 72rpx;
		height: 72rpx;
	}

	.flex1 {
		flex: 1;
	}
	.w-134{
		width: 134rpx;
	}
	.wid52 {
		width: 52rpx;
		height: 28rpx;
	}

	.wid521 {
		width: 52rpx;
		height: 52rpx;
	}

	.wid68 {
		width: 68rpx;
		height: 68rpx;
	}
	.border50{
		overflow: hidden;
		border: 4rpx solid #fff;
		border-radius: 100%;
	}
	.wid120 {
		width: 120rpx;
		height: 120rpx;
	}
	.wid36{
		width: 36rpx;
		height: 36rpx;
	}

	.wid42 {
		width: 42rpx;
		height: 42rpx;
	}

	.wid20 {
		width: 20rpx;
		height: 20rpx;
	}

	.wid218 {
		width: 218rpx;
		height: 230rpx;
	}

	.wid28 {
		width: 28rpx;
		height: 28rpx;
	}

	.wid156 {
		width: 156rpx;
		height: 60rpx;
	}

	.wid120 {
		width: 120rpx;
		height: 118rpx;
	}

	.wid710 {
		width: 710rpx;
		height: 248rpx;
		border-radius: 16rpx;
	}

	.wid212 {
		width: 212rpx;
		height: 212rpx;
	}

	.m-b-26 {
		margin-bottom: 26rpx;
	}
	.m-b-24{
		margin-bottom: 24rpx;
	}

	.nologin {
		height: 44rpx;
		font-size: 32rpx;
		font-family: PingFangSC-Semibold, PingFang SC;
		font-weight: 600;
		color: #F7A700;
		line-height: 44rpx;
	}

	.indexlogintext {
		height: 34rpx;
		font-size: 24rpx;
		font-family: PingFangSC-Regular, PingFang SC;
		font-weight: 400;

		line-height: 34rpx;

	}

	.leftimg28 {
		width: 28rpx;
		height: 28rpx;
		margin-left: 8rpx;
	}

	.findborder {

		border-bottom: 2rpx solid #202020;
	}

	.findetitle {
		height: 34rpx;
		font-size: 24rpx;
		font-family: PingFangSC-Regular, PingFang SC;
		font-weight: 400;
		line-height: 34rpx;
	}
	.orderdetailsbtn {
		position: fixed;
		bottom: 0;
		left: 0;
		width: 750rpx;
		height: 120rpx;
		background: #19191C;
		box-sizing: border-box;
		box-shadow: 0px -4rpx 24rpx 0px rgba(0, 0, 0, 0.05);
		padding: 0 40rpx;
		z-index: 11;
	}
	.shopsettlement {
		position: fixed;
		bottom: 0;
		left: 0;
		width: 750rpx;
		
height: 123rpx;
		
		box-sizing: border-box;
		box-shadow: 0px -4rpx 24rpx 0px rgba(0, 0, 0, 0.05);
		padding: 0 20rpx;
		z-index: 11;

		.confirmbtn {
			width: 169rpx;
			height: 65rpx;
			background: linear-gradient(96deg, #FF8400 0%, #FF3000 100%);
			border-radius: 31rpx;
			font-size: 28rpx;
			font-family: PingFang SC;
			font-weight: 400;
			color: #FFFFFF;
			line-height: 65rpx;
			text-align: center;
		}

		.total {
			height: 48rpx;
			margin-left: 20rpx;
		}
	}

	.Generaltext24 {
		height: 34rpx;
		font-size: 24rpx;
		font-family: PingFangSC-Regular, PingFang SC;
		font-weight: 500;
		line-height: 34rpx;
	}
	.listedit {
		width: 160rpx;
		height: 80rpx;
		background: #E4E7ED;
		border-radius: 44rpx;
		font-size: 28rpx;
		font-family: PingFangSC-Regular, PingFang SC;
		font-weight: 400;
		color: #171717;
		line-height: 80rpx;
	}
	.poxfix {
		position: fixed;
		bottom: 0;
		right: 0;
	}
	.wid670{
		width: 670rpx;
	}
	.offerbg{
		width: 660rpx;
		background: #F5F7FA;
		border-radius: 8rpx;
	}
	.m-t-16{
		
		margin-top: 16rpx;
	}
	.m-l-24{
		margin-left: 24rpx;
	}
	.blackline{
		width: 268rpx;
		height: 10rpx;
		background: #000000;
		border-radius: 200rpx;
	}
	.customerinfobgtwo{
		width: 670rpx;
		height: 166rpx;
		background: #FEFFFE;
		
		box-shadow: 0px -4rpx 20rpx 0px rgba(0, 0, 0, 0.04);
	}.customerinfobg{
		width: 750rpx;
		height: 166rpx;
		background: #FEFFFE;
		
		box-shadow: 0px -4rpx 20rpx 0px rgba(0, 0, 0, 0.04);
	}
	.padd36-32{
		padding: 36rpx 32rpx;
	}
	.currency32-64{
		height: 64rpx;
		font-size: 32rpx;
		font-family: PingFangSC-Medium, PingFang SC;
		
		
		line-height: 64rpx;
	}
	.customerdetailbtn{
		width: 686rpx;
		height: 80rpx;
		background: linear-gradient(315deg, #ED3F10 0%, #FB724D 100%);
		border-radius: 44rpx;
	}
	.z11{
		z-index: 15;
	}
	.p-b-200{
		padding-bottom: 240rpx;
	}
	.customerdetaildatatwo{
		width: 240rpx;
		height: 80rpx;
		background: #F5F7FA;
		border-radius: 8rpx;
	}
	.customerdetaildata{
		width: 426rpx;
		height: 80rpx;
		background: #F5F7FA;
		border-radius: 8rpx;
	}
	.h240{
		height: 240rpx;
	}
	.h160{
		height: 160rpx;

	}
	.h200{
		height: 200rpx;
	}
	.bge8f{
		
background: #E8F8FF;
	}
	.fs32{
		
font-size: 32rpx;
	}
	.color22{
		
color: #222222;
	}
	.h78{
		height: 78rpx;
	}
	.customerdetailtextarea{
		width: 686rpx;
		
		background: #F5F7FA;
		border-radius: 8rpx;
	}
	.currency44-64{
		
		height: 64rpx;
		font-size: 44rpx;
		font-family: PingFangSC-Semibold, PingFang SC;
		font-weight: 600;
		line-height: 64rpx;
	}
	.color222426{
		color: #222426;
	}
	.h88{
		height: 88rpx;
	}
	.customerinfobg{
		width: 750rpx;
		height: 166rpx;
		background: #FEFFFE;
		
		box-shadow: 0px -4rpx 20rpx 0px rgba(0, 0, 0, 0.04);
	}
	.wid22{
		width: 22rpx;
		height: 27rpx;
	}
	.padd20-32{
		padding: 20rpx 30rpx;
	}
	.wid630{
		width: 630rpx;
	}
	.cutomerpadd160-32{
		padding: 160rpx 32rpx;
	}
	.m-b-25{
			margin-bottom: 25rpx;
	}
	.padd160-32{
		padding: 30rpx 32rpx;
	}
	.paddt160-32{
		padding: 100rpx 32rpx 0 32rpx;
	}
	.bgf5f7{
		
background: #F5F7FA;
	}
	.bgFDDAD1{
		background: #FDDAD1;
	}
	.bge0f{
		
background: #E0F2FF;
	}
	.c094CB4{
		
color: #094CB4;
	}
	.changedirmode{
		width: 696rpx;
		height: 106rpx;
		background: #F4F4F4;
		border-radius: 20rpx;
	}
	.bgf2f{
		background: #F2F4F7;
	}
	.customerdetailpopup{
		// width: 175rpx;
		text-align: center;
		padding:0 33rpx ;
		height: 58rpx;
		line-height: 58rpx;
		
		
		font-size: 28rpx;
		font-family: PingFang SC;
		font-weight: 400;
		
	}
	.padd1524{
		padding: 10rpx 24rpx;
	}
	.widnew100{
		width: 100%;
		height: 221rpx;
	}
	
	.border-confirm{
		border: 1rpx solid #6E6E6E;
	}
	.border-confirmcanju{
		
border: 1rpx solid #FF3000;
	}
	.bg0037CEDF{
		

background: #126DCA;
	}.bglike{
		background: #126DCA !important;
	}
	.newpadd514{
		padding: 5rpx 14rpx;
	}
	.padd514{
		padding: 10rpx 30rpx;
	}
	.f-shsc{
		
font-family: Source Han Sans CN;
	}
	.line74{
		line-height: 74rpx;
	}
	.wid501{
		width: 501rpx;
		height: 74rpx;
	}
	.padd1060{
		padding: 20rpx 100rpx 0 100rpx;
	}
	.bgf2f2{
		
background: #F2F2F2;
	}
	.wid163{
		width: 163rpx;
		height: 160rpx;
	}
	.bor20{
		border-radius: 20rpx;
	}
	.m-r-30{
		margin-right: 30rpx;
	}
	.enterpbtn{
		padding: 5rpx 15rpx;
		font-size: 24rpx;
		
border-radius: 5rpx;
		font-family: PingFang SC;
		font-weight: 400;
		color: #FFFFFF;
	}
	.cf868{
		
color: #F8685C;
	}
	.c0017{
		
color: #C00017;
	}
	.cdd26{
		
color: #DD2617;
	}
	.bgd304{
		
background: #D30010;
	}
	.bor-r-40{
		border-radius: 40rpx;
	}
	.br20{
		border-radius: 20rpx;
	}
	
	.padd1030{
		padding: 10rpx 30rpx;
	}
	.bgfad{
		background: #FAD5A4;
	}
	.m-b-10{
		margin-bottom: 10rpx;
	}
	.m-r-8{
		margin-right: 8rpx;
	}
	.paddtb5lr15{
		padding: 5rpx  15rpx;
	}
	.bor-d30{
		border-radius: 20rpx;
border: 1rpx solid #D30010;
	}
	.cd30{
		
color: #D30010;
	}
	.bga2ff38{
		

background: #4AC329;
	}
	.bg0037c4{
		

background: #126DCA;
	}
	.c1111{
		
color: #111111;
	}
	.c666{
		
color: #666666;
	}
		.f-psc{
			
font-family: PingFang SC;
		}
	.c1a1a{
		
color: #1A1A1B;
	}
	.custominfobtn{
		
		height: 80rpx;
		


background: #126DCA;
		border-radius: 10rpx;
		font-size: 28rpx;
		font-family: PingFangSC-Regular, PingFang SC;
		font-weight: 400;
		color: #FFFFFF;
		line-height: 80rpx;
	}
	.Generaltext28-44{
		
		font-size: 28rpx;
		font-family: PingFangSC-Regular, PingFang SC;
		font-weight: 400;
		line-height: 44rpx;
	}
	.Generaltext2432 {
		height: 32rpx;
		font-size: 24rpx;
		font-family: PingFangSC-Regular, PingFang SC;
		font-weight: 500;
		line-height: 56rpx;
	}
	.wid96{
		width: 96rpx;
		height: 96rpx;
	}
	.padd24{
		padding: 24rpx;
	}
	.wid24{
		width: 24rpx;
		height: 24rpx;
	}
	.padd32{
		padding: 32rpx;
	}
	.p-t-32{
		padding-top: 32rpx;
	}
	.customerbgcontent{
		width: 710rpx;
		
		background: #FFFFFF;
		border-radius: 16rpx;
	}
	.customerhead {
		width: 750rpx;
		
		background: #FEFFFE;
		box-shadow: 0rpx 4rpx 20rpx 0rpx rgba(0, 0, 0, 0.04);
	}
	.wid240170{
		width: 240rpx;
		height: 170rpx;
	}
	.Generalf24 {
		height: 32rpx;
		font-size: 24rpx;
		font-family: PingFangSC-Regular, PingFang SC;
		font-weight: 500;
		line-height: 48rpx;
	}
	.bg315-100{
		
background: linear-gradient(315deg, #ED3F10 0%, #FB724D 100%);
	}
	.Generaltext24-32 {
		height: 32rpx;
		font-size: 24rpx;
		font-family: PingFangSC-Regular, PingFang SC;
		font-weight: 400;
		line-height: 32rpx;
	}
	.colorF34718{
		
color: #F34718;
	}
	.bgFDECE7{
		
background: #FDECE7;
	}
	.m-t-24{
		margin-top: 24rpx;
	}
	.colorc3{
		
color: #C3C3C3;
	}
	.m-t-80{
		margin-top: 80rpx;
	}
	.color909399{
		
color: #909399;
	}
	.m-t-40{
		margin-top: 40rpx;
	}
	.findextitlecontent {
		font-size: 24rpx;
		font-family: PingFangSC-Regular, PingFang SC;
		font-weight: 400;
		line-height: 46rpx;
	}
	.m-l-8{
		margin-left: 8rpx;
	}
	.color1717{
		
color: #171717;
	}
	.bgf7{
		background: #F7F7F7;
	}
	
	.colorf34718{
		
color: #F34718;
	}
	.ccd121{
		
color: #CD1210;
	}
	.padd2530{
		padding: 25rpx 30rpx;
	}
	.linebottom{
		width: 642rpx;
		height: 0.1rpx;
		background-color:#ABA9A7 ;
		// border: 0px solid ;
	}
	.padd515{
		padding: 7rpx 20rpx;
	}
	.w-49{
		width: 49%;
	}
	.f-18{
		font-size: 18rpx;
	}
	.m-r-70{
		margin-right: 70rpx;
	}
	.m-r-40{
		margin-right: 40rpx;
	}
	.m-r-50{
		margin-right: 50rpx;
	}
	.scroll-view-item_H {
			display: inline-block;
			
		}
		.z-15{
			z-index: 15;
		}
		.wid273{
			width: 273rpx;
			height: 67rpx;
		}
		.poabt0l30{
			position: absolute;
			left: 30%;
			top: -5%;
		}
		
	.poabt0l0{
		position: absolute;
		left: 0;
		top: 0;
	}
	.wid177{
		width: 177rpx;
		height: 96rpx;
	}
	.c1f{
		
color: #1F1F1F;
	}
	.c0017{
		
color: #C00017;
	}
	.lienone{
		width: 1rpx;
		height: 16rpx;
		background: #FFFFFF;
		
	}
	.paddlr18{
		padding: 0 18rpx;
	}
	.bgffc6{
		
background: #FFC67D;
	}
	.m-l-18{
		margin-left: 18rpx;
	}
	.ccf17{
		
color: #CF1716;
	}
	.flian{
		
font-family: lianmengqiyilushuaizhengruiheiti-Regular-Medium, lianmengqiyilushuaizhengruiheiti-Regular;
	}
	.poabl0llb0{
		position: absolute;
		bottom: 5%;
	}
	.f600{
		font-weight: 600;
	}
	.curryf28{
		font-size: 28rpx;
		font-family: PingFang SC;
		font-weight: 400;
	}
	.wid122{
		width: 122rpx;
		height: 122rpx;
	}
	.padd4030{
		padding: 40rpx 30rpx;
	}
	.colorf72 {

		color: #FF7200;
	}

	.color99 {
		color: #999999;
	}

	.colorff {
		color: #FFFFFF;
	}

	.colorf0 {

		color: #F0F0F0;
	}

	.colorf6 {

		color: #F6F6F8;
	}

	.indexanswer {

		height: 40rpx;
		font-size: 28rpx;
		font-family: PingFangSC-Regular, PingFang SC;
		font-weight: 400;
		color: #F0F0F0;
		line-height: 40rpx;
	}

	.indexadoptit {
		width: 184rpx;
		height: 68rpx;
		
background: linear-gradient(115deg, #666560 0%, #232321 100%);
		border-radius: 34rpx;
		font-size: 28rpx;
		font-family: PingFangSC-Regular, PingFang SC;
		font-weight: 400;
		
color: #FBD08E;
		line-height: 68rpx;

	}
	.customphone{
		width: 144rpx;
		height: 56rpx;
		
		border-radius: 28rpx;
	}
	.wid376{
		width: 376rpx;
	}
	.m-r-16{
		margin-right: 16rpx;
	}
	.customertagsone{
		width: 56rpx;
		height: 32rpx;
		
		border-radius: 4rpx;
	}
	
	.customertagstext{
		font-size: 20rpx;
		font-family: PingFangSC-Regular, PingFang SC;
		font-weight: 400;
		
		height: 32rpx;
	}
	.indexanswerone {
		height: 44rpx;
		font-size: 32rpx;
		font-family: PingFangSC-Semibold, PingFang SC;
		font-weight: 600;
		color: #FFFFFF;
		line-height: 44rpx;
	}
	.currency3244 {
		height: 44rpx;
		font-size: 32rpx;
		font-family: PingFangSC-Semibold, PingFang SC;
		font-weight: 600;
		line-height: 44rpx;
	}
	.currency3244-400 {
		height: 44rpx;
		font-size: 32rpx;
		font-family: PingFangSC-Semibold, PingFang SC;
		font-weight: 400;
		line-height: 44rpx;
	}
	.m-t-60{
		margin-top: 60rpx;
	}.m-t-120{
		margin-top: 120rpx;
	}
	.currency3244detail {
		
		font-size: 32rpx;
		font-family: PingFangSC-Semibold, PingFang SC;
		font-weight: 600;
		
	}
	.m-r-10 {
		margin-right: 10rpx;
	}

	.indexadoptandbringup {

		height: 44rpx;
		font-size: 32rpx;
		font-family: PingFangSC-Medium, PingFang SC;
		font-weight: 500;
		color: #F0F0F0;
	}

	.bgcolor00 {

		background: #000000;
	}

	.indexheizhu {
		width: 192rpx;
		height: 44rpx;
		font-size: 32rpx;
		font-family: PingFangSC-Medium, PingFang SC;
		font-weight: 500;
		color: #F0F0F0;
		line-height: 44rpx;
	}
	.fe3{
		color: #fe3d3c;
	}
	.m-b-200{
		margin-bottom: 200rpx;
	}
	.m-r-72 {
		margin-right: 52rpx;
	}.c00{
		
color: #000000;
	}
	page {
		background: #f6f6f6 !important;
	}
	.indexfristPhase {
		width: 128rpx;
		height: 52rpx;
		line-height: 52rpx;
		font-size: 28rpx;
		font-family: PingFangSC-Regular, PingFang SC;
		font-weight: 400;
		color: #F7A700;
		border-radius: 16rpx;
		border: 2rpx solid #F5AC00;
		// border-image: linear-gradient(172deg, rgba(232, 207, 157, 1), rgba(245, 172, 0, 1)) 2 2;
	}

	.indexcycle {
		height: 28rpx;
		font-size: 20rpx;
		font-family: PingFangSC-Regular, PingFang SC;
		font-weight: 400;
		color: #F6F6F8;
		line-height: 28rpx;
	}
	.color77{
	
color: #777777;	
	}
	
	.indexmoney {

		// height: 50rpx;
		font-size: 36rpx;
		font-family: PingFangSC-Medium, PingFang SC;
		font-weight: 500;
		color: #FF7200;
		line-height: 36rpx;
	}
	.mr60{
		margin-right: 60rpx;
	}
	.poabshopcart{
		position: absolute;
		    left: 69rpx;
		    top: -6rpx;
	}
	.poab20{
		position: absolute;
		left: -20rpx;
		top: 500rpx;
	}
	.indexshopmoney {
		font-size: 32rpx;
		font-family: PingFangSC-Medium, PingFang SC;
		
		
		line-height: 32rpx;
	}
	.line48{
		line-height: 40rpx;
	}
	.paddtb30{
		padding: 30rpx 0;
	}
	.bgfa{
		
background: #FAFAFA;
	}
	.indexshoplinemoney {
		width: 64rpx;

		font-size: 24rpx;
		font-family: PingFangSC-Regular, PingFang SC;
		font-weight: 400;
		color: #999999;
		line-height: 24rpx;
	}
	.colorf7a7{
		
color: #F7A700;
	}
	.padlr20b150{
		padding:40rpx 20rpx 150rpx 20rpx ;
	}
	.wid56{
		width: 56rpx;
		height: 56rpx;
	}
	.w-350{
		width: 350rpx;
	}
	.minus {
		width: 70rpx;
		height: 60rpx;
		display: flex;
		justify-content: center;
		align-items: center;
	}


	.input {
		width: 64rpx;
		height: 60rpx;

	}

	.plus {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 70rpx;
		height: 60rpx;
	}

	.m-r-24 {
		margin-right: 24rpx;
	}

	.p-t-10 {
		padding-top: 10rpx;
	}

	.wid60 {
		width: 60rpx;
		height: 60rpx;
	}

	.colore8c {
		color: #E8CF9D;
	}

	.padd4-22 {
		padding: 4rpx 22rpx;
	}

	.boreder-y {

		border: 1rpx solid #F7A700;

		border-radius: 6rpx;
	}

	.m-b-180 {
		margin-bottom: 180rpx;
	}

	.p-b-180 {
		padding-bottom: 180rpx;
	}

	.c0e4{
			
	color: #0E47B4;
		}

	.colorff72 {

		color: #FF7200;
	}
	.color51cd{
		
color: #51CD8A;
	}
	.currencybtn{
		width: 160rpx;
		height: 60rpx;
		border-radius: 30rpx;
		font-size: 28rpx;
		font-family: PingFangSC-Regular, PingFang SC;
		font-weight: 400;
		line-height: 60rpx;
	}
	.customerbtn{
		width: 128rpx;
		height: 48rpx;
		
		border-radius: 24rpx;
	}
	
	.bg115{
		background: linear-gradient(115deg, #666560 0%, #232321 100%);
	}
	.he200{
		height: 210rpx;
	}
	.wid4233 {
		width: 42rpx;
		height: 33rpx;
	}
	.m-r-76{
		margin-right: 76rpx;
	}
	.uesertext {
		font-size: 28rpx;
		font-family: PingFangSC-Regular, PingFang SC;
		font-weight: 400;
		line-height: 40rpx;
	}
	.orderdetaillocation{
		border-radius:50% ;
		width: 72rpx;
		height: 72rpx;
		
	}
	.bgebf{
		
background: linear-gradient(139deg, #EFBE5E 0%, #FC9D01 100%);
	}
	.bg31d{
		background: linear-gradient(119deg, #31D47F 0%, #02B558 100%);
	}
	.m-r-78{
		margin-right: 78rpx;
	}
	.h-78{
		height: 78rpx;
	}
	.p-t-20{
		padding-top: 20rpx;
	}
	.boredert-2r20{
			
	border-top: 2rpx solid #202020;
		}
	.boreder-2r20{
		
border-right: 2rpx solid #202020;
	}
	.p-36{
		
border: 1rpx solid #EB979B;
		padding: 2rpx 4rpx;
	}
	.Generaluesertext {
		font-size: 28rpx;
		font-family: PingFangSC-Regular, PingFang SC;
		font-weight: 500;
		line-height: 40rpx;
	}
	.p-t22lr20b40{
		padding: 20rpx 20rpx 40rpx 20rpx;
	}
	.padd3040{
		padding: 30rpx 40rpx;
	}
	.line44{
		line-height: 44rpx;
	}
	.padd2032{
		padding: 20rpx 32rpx;
	}
	.colore8c{
		
color: #E8CF9D;
	}
	.border16{
		border-radius: 0 0 16rpx 16rpx;
	}
	.Generaluesertexttwo {
		font-size: 28rpx;
		font-family: PingFangSC-Regular, PingFang SC;
		font-weight: 400;

	}
	.shoppingCartlist {
		box-sizing: border-box;
	
		.shopimg {
			margin: 0 24rpx 0 0;
			width: 200rpx;
			height: 220rpx;
			background: #D8D8D8;
			border-radius: 25rpx;
		}
	}
	.bgf4{
		
background: #F4F4F4;
	}
	.padd3220{
		padding: 32rpx 20rpx;
	}
	.shopimgtwo {
		margin: 0 24rpx 0 0;
		width: 200rpx;
		height: 200rpx;
		background: #D8D8D8;
		border-radius: 25rpx;
	}
	.wid208{
		width: 208rpx;
		height: 208rpx;
	}
	.m-r-12{
		margin-right: 12rpx;
	}
	.p-t-5{
		padding-top: 5rpx;
	}
	.cec1{
		color: #EC1D27;
	}
	.m-b-180{
		margin-bottom: 180rpx;
	}
	.groupbottombtn{
		width: 750rpx;
		height: 100rpx;
		background: #fefffe;
		box-shadow: 0px -6rpx 20rpx 0px rgba(0,0,0,0.05); 
	}
	.line36{
		line-height: 36rpx;
	}
	.wid80{
		width: 80rpx;
		height: 80rpx;
	}
	.p-b-120{
		padding-bottom: 124rpx;
	}
	.p-l-30{
		padding-left: 30rpx;
	}
	.c88{
		color: #888888;

	}
	.bgff{
		
background: #FFFFFF;
	}
	.m-l-30{
		margin-left: 30rpx;
	}
	.c20{
		color: #202020;
	}
	.m-b-14{
		margin-bottom: 14rpx;
	}
	.bg143-100{
		
background: linear-gradient(143deg, #FFBE3C 0%, #FFA800 100%);
	}
	.color909399{
		color: #909399;
	}
	.Generaltext24{
		font-size: 24rpx;
				font-family: PingFangSC-Regular, PingFang SC;
				font-weight: 400;
				
		line-height: 40rpx;
	}
	.General24noline{
		font-size: 24rpx;
				font-family: PingFangSC-Regular, PingFang SC;
				font-weight: 400;
				
	}
		
	.line56{
		line-height: 56rpx;
	}
	.Generaltext28{
		font-size: 28rpx;
				font-family: PingFangSC-Regular, PingFang SC;
				font-weight: 500;
				
		line-height: 40rpx;
	}
	.bge4e{
		
background: #E4E7ED;
	}
	.homebtnbg{
		width: 104rpx;
		height: 56rpx;
		border-radius: 28rpx;
	}
	.Generaltext28bold{
		font-size: 28rpx;
				font-family: PingFangSC-Regular, PingFang SC;
				
				
		line-height: 40rpx;
	}
	.Generaluesertextx{
		font-size: 24rpx;
		font-family: PingFangSC-Regular, PingFang SC;
		font-weight: 500;
		
line-height: 40rpx;
	}
	.Generaluesertextfind{
		font-size: 24rpx;
		font-family: PingFangSC-Regular, PingFang SC;
		font-weight: 400;
		line-height: 44rpx;
	}
	.wid492{
		width: 492rpx;
		height: 384rpx;
	}
	.Generaluesertextthree {
		width: 200rpx;
		font-size: 42rpx;
		font-family: PingFangSC-Regular, PingFang SC;
		font-weight: 400;
		line-height: 48rpx;
	}
	.Generaluesertextfour {
		
		font-size: 42rpx;
		font-family: PingFangSC-Regular, PingFang SC;
		font-weight: 400;
		line-height: 48rpx;
	}
	.poab40644 {
		position: absolute;
		top: 404rpx;
		left: 40rpx;
	}

	.border9-28 {
		padding: 9rpx 28rpx;
	}

	.borderf7 {
		background: #F7A700;
		border-radius: 29rpx;
	}

	.m-lr-5 {
		margin: 0 5rpx;
	}

	.colorf1a7 {
		color: #F7A700;
	}

	.color99 {

		color: #999999;
	}

	.m-b-40 {
		margin-bottom: 40rpx;
	}

	.colord8 {

		color: #D8D8D8;
	}

	.m-b-66 {
		margin-bottom: 66rpx;
	}

	.wid40 {
		width: 40rpx;
		height: 40rpx;
	}

	.paddt50b92 {
		padding: 65rpx 20rpx 92rpx 20rpx;
	}

	.colorf6 {

		color: #F6F6F8;
	}

	.padd4422 {
		padding: 44rpx 22rpx;
	}

	.bg19c {
		background: #19191C;
		border-radius: 0px 24rpx 24rpx 0px;
	}
	.p-b-260{
		padding-bottom: 260rpx;
	}
	.colora79{
		
color: #A79425;
	}
	.color8f{
		
color: #8F8758;
	}
	.color815{
		
color: #815A51;
	}
	.tiyanbtn{
		line-height: 48rpx;
		margin: 0 auto;
		font-size: 20rpx;
		font-family: PingFang SC;
		font-weight: bold;
		
		width: 136rpx;
		height: 48rpx;
		background: #FFC4B3;
		border: 4rpx solid rgba(255, 255, 255, 0.24);
		border-radius: 24rpx;
	}
	.bgffed{
		
background: linear-gradient(0deg, #FFEDC8 0%, #EBD5A5 99%);
	}
	.bgff4b{
		
background: linear-gradient(0deg, #FFF4B4 0%, #FFFADC 100%);
	}
	.bgffe{
		background: linear-gradient(0deg, #FFE4DC 0%, #FED3C7 99%);
	}
	.color642{
		
color: #642314;
	}
	.bg02l {

		background: #020202;
		border-radius: 0px 24rpx 24rpx 0px;
	}
	.m-b-12{
		margin-bottom: 12rpx;
	}

	.bg02r {

		background: #020202;
		border-radius: 24rpx 0px 0px 24rpx;
	}
	.w150{
		width: 150rpx;
	}
	.f600{
		font-weight: 600;
	}
	.bg19 {
		background: #19191C;
		border-radius: 24rpx 0px 0px 24rpx;
	}

	.bg20 {

		background: #202020;
	}

	.m-t224 {
		margin-top: 224rpx;
	}

	.m-r-50 {
		margin-right: 50rpx;
	}

	.usermoney {
		font-size: 28rpx;
		font-family: PingFangSC-Regular, PingFang SC;
		font-weight: 400;
		color: #F7A700;
		line-height: 28rpx;
	}

	.usermoneytwo {
		font-size: 36rpx;
		font-family: PingFangSC-Semibold, PingFang SC;
		font-weight: 600;
		color: #F7A700;
		line-height: 36rpx;
	}
	.orderdetailbtn{
		width: 134rpx;
		height: 56rpx;
		border-radius: 30rpx;
		border: 2rpx solid #979797;
	}
	.wid384{
		width: 384rpx;
		height: 68rpx;
	}
	
	.shopdatailyoshou {
		font-size: 24rpx;
		font-family: PingFangSC-Regular, PingFang SC;
		font-weight: 400;
		line-height: 32rpx;
	}
	.currencyordertext {
		font-size: 24rpx;
		font-family: PingFangSC-Regular, PingFang SC;
		font-weight: 400;
		line-height: 34rpx;
	}
	.shopdatailyoshoutext {
		font-size: 36rpx;
		font-family: PingFangSC-Semibold, PingFang SC;
		font-weight: 600;
		line-height: 56rpx;
	}
	.m-b-76{
		margin-bottom: 76rpx;
	}
	.wid88{
		width: 88rpx;
		height: 88rpx;
	}
	.m-l-16{
		margin-left: 16rpx;
	}
	.color8e {

		color: #8E8F8E;
	}
	.colorff30{
		color: #FF3000
	}
	.colorff72 {
		color: #FF7200;
	}

	.currencytext32 {

		height: 44rpx;
		font-size: 32rpx;
		font-family: PingFangSC-Medium, PingFang SC;
		font-weight: 500;

	}
	.currencytext32bold {
	
		
		font-size: 32rpx;
		font-family: PingFangSC-Medium, PingFang SC;
		font-weight: bold;
	
	}
	.m-l-32 {
		margin-left: 32rpx;
	}

	.f-400 {
		font-weight: 400;
	}

	.m-r-6 {
		margin-right: 6rpx;
	}

	.shopdetailchangpin {
		font-size: 32rpx;
		font-family: PingFangSC-Semibold, PingFang SC;
		line-height: 44rpx;
	}
	.currencyfindtext {
		font-size: 32rpx;
		font-family: PingFangSC-Semibold, PingFang SC;
		line-height: 56rpx;
		font-weight: 500;
	}
	.shopdetailchangpintwo {
		font-size: 32rpx;
		font-family: PingFangSC-Semibold, PingFang SC;
	}

	.f-bold {
		font-weight: bold;
	}

	.wid4436 {
		width: 44rpx;
		height: 36rpx;
	}

	.wid30 {
		width: 30rpx;
		height: 30rpx;
	}

	.colorf7 {

		color: #F7A700;
	}

	.f-600 {
		font-weight: 600;
	}

	.usercontent {
		background-color: #020202;
	}

	.iwantyunyangcontent {
		background-color: #020202;
		padding: 40rpx 20rpx 150rpx 20rpx;
		box-sizing: border-box;
	}

	.wid54 {
		width: 54rpx;
		height: 50rpx;
	}

	.colorf0 {

		color: #F0F0F0;
	}

	.colorf84 {

		color: #FB4D21;
	}

	.padd22-26 {
		padding: 22rpx 26rpx;
	}
	.padd24-32 {
		padding: 24rpx 32rpx;
	}
	.mingcheng {
		font-size: 24rpx;
		font-family: PingFangSC-Regular, PingFang SC;
		font-weight: 400;
		color: #F0F0F0;
		line-height: 34rpx;
	}

	.mingchengcontent {
		font-size: 24rpx;
		font-family: PingFangSC-Regular, PingFang SC;
		font-weight: 400;
		color: #999999;
		line-height: 34rpx;
	}

	.m-r-32 {
		margin-right: 32rpx;
	}

	.wid48 {
		width: 48rpx;
		height: 48rpx;
	}

	.jiarugouwu {
		width: 220rpx;
		height: 72rpx;
		border-radius: 40rpx;
		font-size: 32rpx;
		font-family: PingFangSC-Regular, PingFang SC;
		font-weight: 400;
		
		line-height: 72rpx;
	}

	.gouwubg {
		
background: linear-gradient(232deg, #666560 0%, #232321 100%);
	}

	.goumaibg {

		
background: linear-gradient(139deg, #EFBE5E 0%, #FC9D01 100%);
	}

	.paddall20b100 {
		padding: 20rpx 20rpx 128rpx 20rpx;
	}

	.paddall20 {
		padding: 20rpx;
	}

	.bgf7a7 {

		background: #F7A700;
	}

	.textshopdetail {
		font-size: 16rpx;
		font-family: PingFangSC-Regular, PingFang SC;
		font-weight: 400;
		color: #F0F0F0;
		
	}
	.currencytext20 {
		font-size: 20rpx;
		font-family: PingFangSC-Regular, PingFang SC;
		font-weight: 400;
		
		line-height: 28rpx;
	}
	.shopdetailtext {
		width: 710rpx;
		background: #19191C;
		border-radius: 16rpx;
	}

	.padd1224 {
		padding: 12rpx 24rpx 32rpx 24rpx;
	}

	.wid4028 {
		width: 40rpx;
		height: 28rpx;
	}

	.wid180 {
		width: 180rpx;
		height: 66rpx;
		font-size: 28rpx;
		font-family: PingFangSC-Regular, PingFang SC;
		font-weight: 400;
		color: #E8CF9D;
		line-height: 66rpx;
		background: linear-gradient(115deg, #666560 0%, #232321 100%);
		border-radius: 20rpx;
	}
	.wid691{
		width: 691rpx;
	}
	.wid169{
		width: 169rpx;
		height: 169rpx;
	}
	.colora9a{
		
color: #A9A9A9;
	}
	.f500{
		font-weight: 500;
	}
	.notimebtn{
		width: 494rpx;
		height: 92rpx;
		line-height: 92rpx;
		background: linear-gradient(91deg, #FF8400 0%, #FF3000 100%);
		border-radius: 46rpx;
	}
	
	.wid4842 {
		width: 48rpx;
		height: 42rpx;
	}

	.padd4020 {
		padding: 40rpx 20rpx;
	}

	.padd4020b180 {
		padding: 40rpx 30rpx 180rpx 30rpx;
	}

	.border25 {
		border-radius: 25rpx;
	}

	.shopdetailtextnewyunyang {
		width: 710rpx;
		background: #19191C;
		border-radius: 16rpx 16rpx 0 0;
	}
	.wid122{
		width: 122rpx;
		height: 122rpx;
	}
	
	.z50{
		z-index: 1;
	}
	.shopbtn{
		line-height: 64rpx;
		font-family: PingFang SC;
		font-weight: bold;
		color: #FFFFFF;
		width: 179rpx;
		height: 64rpx;
		background: linear-gradient(91deg, #FF8400 0%, #FF3000 100%);
		border-radius: 32rpx;
	}
	.lineborder20 {
		border-bottom: 2rpx solid #202020;
	}

	.paddallt-36lr-24 {
		padding: 36rpx 24rpx 40rpx 24rpx;
	}

	.p-b-34 {
		padding-bottom: 34rpx;
	}

	.Generalbackground {
		width: 710rpx;
		background: #19191C;
		border-radius: 25rpx;
	}

	.addshopcartline {


		
border: 0.1rpx solid #6E6E6E;
	}

	.colorf0 {

		color: #F0F0F0;
	}

	.color90 {
		color: #909399;
	}

	.m-l-12 {
		margin-left: 12rpx;
	}
